
{% extends 'layoutCheck.html.twig' %}


    {% block body %}
        
        {{ parent() }}
    
        <!-- Generador de formulario -->
        
        <script> var create = "{{ path('imagen_proactiva_generate_create')}}"; </script>
        <script> var redirect = "{{ path('imagen_proactiva_generate_view_questions')}}"; </script>

    <h2 class="h"> Welcome To The Checkbox Manager!</h2>

    <div id="stylized" class="myform" style="margin:20px auto;">
        <form id="form" name="form">

            <div id="div_1">

                <fieldset id="buildyourform">
                    <legend>Build your own form!</legend>
                </fieldset>
                <button type="submit" class="save" id="save">Save</button>
                <input type="button" value="Preview form" class="add" id="preview" />
                <input type="button" value="Add a field" class="add" id="add" />

            </div>

            <!-- Formulario Generado-->
            <div id="div_2">

            </div>
           <!-- Formulario Generado-->

        </form>
    </div>

<!-- Generador de formulario-->

    <section id="ImprimeAcaLoRecibidoEnPhp"> 

    </section>

      <!-- FOOTER -->
      
          <footer class="footer">
        <p><font><font>© 2016 Company, Inc. · </font></font> <font><font>Privacidad</font></font></a><font><font> · </font></font> <font><font>Condiciones</font></font></a></p>
      </footer>
    
    {% endblock %}